[submodule "build/less/vendor/normalize"]
	path = build/less/vendor/normalize
	url = https://github.com/necolas/normalize.css.git
[submodule "build/vendor/normalize"]
	path = build/vendor/normalize
	url = git@github.com:askmattcairns/normalize.css.git
